%form.form-horizontal
  %fieldset
    %legend
      Legend Text Here
    %div.control-group
      %label.control-label{:for => "input01"}
        Text input
      .controls
        %input{:type => "text", :class => "input-xlarge", :id => "input01"}
        %p.help-block
          Supporting Help Texts
